html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  cursor: pointer;
  background: #6b0f9c;
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 1s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 1.5s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.6s;
  font-size: 20px;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.panel2 {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.panel3 {
  background: #16bffd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #cb3066,
    #16bffd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #cb3066,
    #16bffd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.panel4 {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.panel5 {
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #96c93d,
    #00b09b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #96c93d,
    #00b09b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.9s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-size: 2em;
}
.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

.links {
  top: 0;
  right: 0;
  text-align: right;
  margin: 1.5rem;
  position: absolute;
  font-size: 16px;
}

.links > a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.links > a:hover {
  color: #ffc600;
  transition: all 0.5s ease;
}