body {
  background: #eb5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  color: white;
  font-size: 32px;
}

.links {
  top: 0;
  right: 0;
  text-align: right;
  margin: 2.5rem;
  position: absolute;
  font-size: 16px;
}

.links > a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.links > a:hover {
  color: #ffc600;
  transition: all 0.5s ease;
}
